{% extends 'base.html' %}


{% block content %}
    <div class="container">

        <section id="reservation">
            <div class="row justify-content-center">
                <form name="makeReservation" id="reservationForm" novalidate action="" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.user_name }}
                        {{ form.user_email }}
                        {{ form.message }}
                    </div>
                    <button type="submit" class="btn btn-custom btn-lg">Зарезервувати</button>
                </form>
            </div>
        </section>

        <section>
            <div class="row justify-content-center my-3 bg-primary">

                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                    <h1 id="Events" class="text-center text-uppercase text-light">Події</h1>

                    <div id="eventsCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                        <ol class="carousel-indicators">
                            {% for event in events %}
                                {% if forloop.counter0 == 0 %}
                                    <li data-target="#eventsCarousel" data-slide-to="{{ forloop.counter0 }}"
                                        class="active"></li>
                                {% else %}
                                    <li data-target="#eventsCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">

                            {% for event in events %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{ event.photo.url }}" alt="{{ event.title }}">
                                        <div class="carousel-caption d-none d-md-block bg-dark rounded">
                                            <h5>{{ event.title }}</h5>
                                            <p>{{ event.description }}</p>
                                            <p>{{ event.event_date }} {{ event.event_time }}</p>
                                            {% if event.price != 0 %}
                                                <p>{{ event.price }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item mx-auto">
                                        <img class="d-block w-100" src="{{ event.photo.url }}" alt="{{ event.title }}">
                                        <div class="carousel-caption d-none d-md-block bg-dark rounded">
                                            <h5>{{ event.title }}</h5>
                                            <p>{{ event.description }}</p>
                                            <p>{{ event.event_date }} {{ event.event_time }}</p>
                                            {% if event.price != 0 %}
                                                <p>{{ event.price }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section>
            <h1 id="Menu" class="text-center text-uppercase text-light">Меню</h1>
            <hr>
            {% for item in categories %}
                <h2 class="text-center text-uppercase">{{ item.title }}</h2>
                <div class="row justify-content-center my-2">
                    {% for dish in item.dishes %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-1">
                            <div class="card">
                                <img class="card-img-top" src="{{ dish.photo.url }}">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/Menu/{{ dish.pk }}">{{ dish.title }}</a>
                                    </h5>
                                    <p class="card-text">{{ dish.description }}</p>
                                    <p><strong>{{ dish.price }}&#x20B4;</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>

        <section>
            <h1 class="text-center text-uppercase text-light">Особливі особливості</h1>
            <hr>
            {% for item in special_categories %}
                <h2 class="text-center text-uppercase">{{ item.title }}</h2>
                <div class="row justify-content-center my-2">
                    {% for dish in item.dishes %}
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-1">
                            <div class="card">
                                <img class="card-img-top" src="{{ dish.photo.url }}">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/Menu/{{ dish.pk }}"> {{ dish.title }} </a>
                                    </h5>
                                    <p class="card-text">{{ dish.description }}</p>
                                    <p><strong>{{ dish.price }}&#x20B4;</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>


        <section id="reservation">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-1">
                    <form name="makeReservation" id="reservationForm" novalidate action="" method="post">
                        {% csrf_token %}

                    </form>
                </div>
            </div>
        </section>
    </div>

{% endblock %}